In [34]:
from acquire import get_titanic_data
from prepare import prep_titanic

import pandas as pd
import warnings
warnings.filterwarnings("ignore")

from sklearn.linear_model import LogisticRegression

# 1. Load the titanic dataset that you've put together from previous lessons.

In [35]:
train, test = prep_titanic(get_titanic_data())

In [36]:
train.head()

,passenger_id,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,embark_town,alone,Cherbourg,Queenstown,Southampton
638,638,0,3,female,41.0,0,5,39.6875,2,Third,Southampton,0,0.0,0.0,1.0
278,278,0,3,male,7.0,4,1,29.1250,1,Third,Queenstown,0,0.0,1.0,0.0
611,611,0,3,male,NaN,0,0,7.0500,2,Third,Southampton,1,0.0,0.0,1.0
420,420,0,3,male,NaN,0,0,7.8958,0,Third,Cherbourg,1,1.0,0.0,0.0
158,158,0,3,male,NaN,0,0,8.6625,2,Third,Southampton,1,0.0,0.0,1.0

# 2. Split your data into training and test.

Already done as part of the prepare.py

# 3. Fit a logistic regression model on your training data using sklearn's linear_model.LogisticRegression class. Use fare and pclass as the predictors.

In [37]:
X = train[['fare', 'pclass']]

In [38]:
y = train.survived

In [45]:
log_reg = LogisticRegression(random_state=115)

In [46]:
log_reg.fit(X, y)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=115, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

# 4. Use the model's .predict method. What is the output?

In [47]:
predictions = pd.DataFrame({'actual': train.survived})

In [48]:
predictions['log_reg'] = log_reg.predict(X)

In [49]:
predictions.log_reg.value_counts()

0    537
1    175
Name: log_reg, dtype: int64

# 5. Use the model's .predict_proba method. What is the output? Why do you think it is shaped like this?

In [44]:
log_reg.predict_log_proba(X)

array([[-0.32649769, -1.27814349],
       [-0.30983651, -1.32263202],
       [-0.27735052, -1.41794532],
       ...,
       [-0.28790878, -1.38561454],
       [-0.5656145 , -0.83935515],
       [-0.27797625, -1.41599017]])

# 6. Evaluate your model's predictions on the test data set. How accurate is the mode? How does changing the threshold affect this?

In [52]:
X_test = test[['fare', 'pclass']]
y_test = test.survived

In [53]:
print('Accuracy of Logistic Regression classifier on test set: {:.2f}'
     .format(log_reg.score(X_test, y_test)))

Accuracy of Logistic Regression classifier on test set: 0.65