In [1]:
import pyspark
import pyspark.sql.functions as F
import pandas as pd
import numpy as np
import re

from pydataset import data

In [2]:
spark = pyspark.sql.SparkSession.builder.getOrCreate()

In [3]:
p_df = pd.DataFrame(
    dict(language=['python', 'C#'])
)

# Create a spark data frame that contains your favorite programming languages.

In [4]:
sp_df = spark.createDataFrame(p_df)

In [5]:
sp_df

DataFrame[language: string]

In [6]:
sp_df.show(2)

+--------+
|language|
+--------+
|  python|
|      C#|
+--------+

In [7]:
print((sp_df.count(), len(sp_df.columns)))

(2, 1)

In [8]:
sp_df.printSchema()

root
 |-- language: string (nullable = true)

In [9]:
sp_df.show(5)

+--------+
|language|
+--------+
|  python|
|      C#|
+--------+

In [10]:
mpg = data('mpg')

In [11]:
mpg_sp = spark.createDataFrame(mpg)

In [12]:
mpg_sp.show(5)

+------------+-----+-----+----+---+----------+---+---+---+---+-------+
|manufacturer|model|displ|year|cyl|     trans|drv|cty|hwy| fl|  class|
+------------+-----+-----+----+---+----------+---+---+---+---+-------+
|        audi|   a4|  1.8|1999|  4|  auto(l5)|  f| 18| 29|  p|compact|
|        audi|   a4|  1.8|1999|  4|manual(m5)|  f| 21| 29|  p|compact|
|        audi|   a4|  2.0|2008|  4|manual(m6)|  f| 20| 31|  p|compact|
|        audi|   a4|  2.0|2008|  4|  auto(av)|  f| 21| 30|  p|compact|
|        audi|   a4|  2.8|1999|  6|  auto(l5)|  f| 16| 26|  p|compact|
+------------+-----+-----+----+---+----------+---+---+---+---+-------+
only showing top 5 rows

In [13]:
from pyspark.sql.functions import lit, concat
mpg_sp.select(concat(lit('The '), mpg_sp.year, lit(' '), mpg_sp.manufacturer, lit(' '), 
                     mpg_sp.model, lit(' has a '), mpg_sp.cyl, lit(' cylinder engine'))
              .alias("output")).show(5, False)

+----------------------------------------+
|output                                  |
+----------------------------------------+
|The 1999 audi a4 has a 4 cylinder engine|
|The 1999 audi a4 has a 4 cylinder engine|
|The 2008 audi a4 has a 4 cylinder engine|
|The 2008 audi a4 has a 4 cylinder engine|
|The 1999 audi a4 has a 6 cylinder engine|
+----------------------------------------+
only showing top 5 rows

In [26]:
from pyspark.sql.functions import regexp_extract, regexp_replace, when

In [31]:
mpg_sp.select(
    regexp_extract('trans', r'^(\w+)\(', 1).alias('trans'),
    when(mpg_sp.trans.like('auto%'), 'auto').otherwise('manual')
).show()

+------+----------------------------------------------------+
| trans|CASE WHEN trans LIKE auto% THEN auto ELSE manual END|
+------+----------------------------------------------------+
|  auto|                                                auto|
|manual|                                              manual|
|manual|                                              manual|
|  auto|                                                auto|
|  auto|                                                auto|
|manual|                                              manual|
|  auto|                                                auto|
|manual|                                              manual|
|  auto|                                                auto|
|manual|                                              manual|
|  auto|                                                auto|
|  auto|                                                auto|
|manual|                                              manual|
|  auto|                                                auto|
|manual|                                              manual|
|  auto|                                                auto|
|  auto|                                                auto|
|  auto|                                                auto|
|  auto|                                                auto|
|  auto|                                                auto|
+------+----------------------------------------------------+
only showing top 20 rows

The name of the column should be language

View the schema of the dataframe

Output the shape of the dataframe

Show the first 5 records in the dataframe

Load the mpg dataset as a spark dataframe.

Create 1 column of output that contains a message like the one below:
The 1999 audi a4 has a 4 cylinder engine.
For each vehicle.

Transform the trans column so that it only contains either manual or auto.

Load the tips dataset as a spark dataframe.

In [32]:
tips = data('tips')

In [33]:
tips.head()

   total_bill   tip     sex smoker  day    time  size
1       16.99  1.01  Female     No  Sun  Dinner     2
2       10.34  1.66    Male     No  Sun  Dinner     3
3       21.01  3.50    Male     No  Sun  Dinner     3
4       23.68  3.31    Male     No  Sun  Dinner     2
5       24.59  3.61  Female     No  Sun  Dinner     4

In [35]:
tips = spark.createDataFrame(tips)

TypeError: data is already a DataFrame

In [36]:
tips.show(5)

+----------+----+------+------+---+------+----+
|total_bill| tip|   sex|smoker|day|  time|size|
+----------+----+------+------+---+------+----+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|
+----------+----+------+------+---+------+----+
only showing top 5 rows

What percentage of observations are smokers?

In [42]:
sum_spend = tips.agg(F.sum(F.col("smoker")).alias("smokes")).collect()[0][0]

+----------+----+------+------+----+------+----+
|total_bill| tip|   sex|smoker| day|  time|size|
+----------+----+------+------+----+------+----+
|     16.99|1.01|Female|  null| Sun|Dinner|   2|
|     10.34|1.66|  Male|  null| Sun|Dinner|   3|
|     21.01| 3.5|  Male|  null| Sun|Dinner|   3|
|     23.68|3.31|  Male|  null| Sun|Dinner|   2|
|     24.59|3.61|Female|  null| Sun|Dinner|   4|
|     25.29|4.71|  Male|  null| Sun|Dinner|   4|
|      8.77| 2.0|  Male|  null| Sun|Dinner|   2|
|     26.88|3.12|  Male|  null| Sun|Dinner|   4|
|     15.04|1.96|  Male|  null| Sun|Dinner|   2|
|     14.78|3.23|  Male|  null| Sun|Dinner|   2|
|     10.27|1.71|  Male|  null| Sun|Dinner|   2|
|     35.26| 5.0|Female|  null| Sun|Dinner|   4|
|     15.42|1.57|  Male|  null| Sun|Dinner|   2|
|     18.43| 3.0|  Male|  null| Sun|Dinner|   4|
|     14.83|3.02|Female|  null| Sun|Dinner|   2|
|     21.58|3.92|  Male|  null| Sun|Dinner|   2|
|     10.33|1.67|Female|  null| Sun|Dinner|   3|
|     16.29|3.71|  Male|  null| Sun|Dinner|   3|
|     16.97| 3.5|Female|  null| Sun|Dinner|   3|
|     20.65|3.35|  Male|  null| Sat|Dinner|   3|
|     17.92|4.08|  Male|  null| Sat|Dinner|   2|
|     20.29|2.75|Female|  null| Sat|Dinner|   2|
|     15.77|2.23|Female|  null| Sat|Dinner|   2|
|     39.42|7.58|  Male|  null| Sat|Dinner|   4|
|     19.82|3.18|  Male|  null| Sat|Dinner|   2|
|     17.81|2.34|  Male|  null| Sat|Dinner|   4|
|     13.37| 2.0|  Male|  null| Sat|Dinner|   2|
|     12.69| 2.0|  Male|  null| Sat|Dinner|   2|
|      21.7| 4.3|  Male|  null| Sat|Dinner|   2|
|     19.65| 3.0|Female|  null| Sat|Dinner|   2|
|      9.55|1.45|  Male|  null| Sat|Dinner|   2|
|     18.35| 2.5|  Male|  null| Sat|Dinner|   4|
|     15.06| 3.0|Female|  null| Sat|Dinner|   2|
|     20.69|2.45|Female|  null| Sat|Dinner|   4|
|     17.78|3.27|  Male|  null| Sat|Dinner|   2|
|     24.06| 3.6|  Male|  null| Sat|Dinner|   3|
|     16.31| 2.0|  Male|  null| Sat|Dinner|   3|
|     16.93|3.07|Female|  null| Sat|Dinner|   3|
|     18.69|2.31|  Male|  null| Sat|Dinner|   3|
|     31.27| 5.0|  Male|  null| Sat|Dinner|   3|
|     16.04|2.24|  Male|  null| Sat|Dinner|   3|
|     17.46|2.54|  Male|  null| Sun|Dinner|   2|
|     13.94|3.06|  Male|  null| Sun|Dinner|   2|
|      9.68|1.32|  Male|  null| Sun|Dinner|   2|
|      30.4| 5.6|  Male|  null| Sun|Dinner|   4|
|     18.29| 3.0|  Male|  null| Sun|Dinner|   2|
|     22.23| 5.0|  Male|  null| Sun|Dinner|   2|
|      32.4| 6.0|  Male|  null| Sun|Dinner|   4|
|     28.55|2.05|  Male|  null| Sun|Dinner|   3|
|     18.04| 3.0|  Male|  null| Sun|Dinner|   2|
|     12.54| 2.5|  Male|  null| Sun|Dinner|   2|
|     10.29| 2.6|Female|  null| Sun|Dinner|   2|
|     34.81| 5.2|Female|  null| Sun|Dinner|   4|
|      9.94|1.56|  Male|  null| Sun|Dinner|   2|
|     25.56|4.34|  Male|  null| Sun|Dinner|   4|
|     19.49|3.51|  Male|  null| Sun|Dinner|   2|
|     38.01| 3.0|  Male|  null| Sat|Dinner|   4|
|     26.41| 1.5|Female|  null| Sat|Dinner|   2|
|     11.24|1.76|  Male|  null| Sat|Dinner|   2|
|     48.27|6.73|  Male|  null| Sat|Dinner|   4|
|     20.29|3.21|  Male|  null| Sat|Dinner|   2|
|     13.81| 2.0|  Male|  null| Sat|Dinner|   2|
|     11.02|1.98|  Male|  null| Sat|Dinner|   2|
|     18.29|3.76|  Male|  null| Sat|Dinner|   4|
|     17.59|2.64|  Male|  null| Sat|Dinner|   3|
|     20.08|3.15|  Male|  null| Sat|Dinner|   3|
|     16.45|2.47|Female|  null| Sat|Dinner|   2|
|      3.07| 1.0|Female|  null| Sat|Dinner|   1|
|     20.23|2.01|  Male|  null| Sat|Dinner|   2|
|     15.01|2.09|  Male|  null| Sat|Dinner|   2|
|     12.02|1.97|  Male|  null| Sat|Dinner|   2|
|     17.07| 3.0|Female|  null| Sat|Dinner|   3|
|     26.86|3.14|Female|  null| Sat|Dinner|   2|
|     25.28| 5.0|Female|  null| Sat|Dinner|   2|
|     14.73| 2.2|Female|  null| Sat|Dinner|   2|
|     10.51|1.25|  Male|  null| Sat|Dinner|   2|
|     17.92|3.08|  Male|  null| Sat|Dinner|   2|
|      27.2| 4.0|  Male|  null|Thur| Lunch|   4|
|     22.76| 3.0|  Male|  null|Thur| Lunch|   2|
|     17.29|2.71|  Male|  null|Thur| Lunch|   2|
|     19.44| 3.0|  Male|  null|Thur| Lunch|   2|
|     16.66| 3.4|  Male|  null|Thur| Lunch|   2|
|     10.07|1.83|Female|  null|Thur| Lunch|   1|
|     32.68| 5.0|  Male|  null|Thur| Lunch|   2|
|     15.98|2.03|  Male|  null|Thur| Lunch|   2|
|     34.83|5.17|Female|  null|Thur| Lunch|   4|
|     13.03| 2.0|  Male|  null|Thur| Lunch|   2|
|     18.28| 4.0|  Male|  null|Thur| Lunch|   2|
|     24.71|5.85|  Male|  null|Thur| Lunch|   2|
|     21.16| 3.0|  Male|  null|Thur| Lunch|   2|
|     28.97| 3.0|  Male|  null| Fri|Dinner|   2|
|     22.49| 3.5|  Male|  null| Fri|Dinner|   2|
|      5.75| 1.0|Female|  null| Fri|Dinner|   2|
|     16.32| 4.3|Female|  null| Fri|Dinner|   2|
|     22.75|3.25|Female|  null| Fri|Dinner|   2|
|     40.17|4.73|  Male|  null| Fri|Dinner|   4|
|     27.28| 4.0|  Male|  null| Fri|Dinner|   2|
|     12.03| 1.5|  Male|  null| Fri|Dinner|   2|
|     21.01| 3.0|  Male|  null| Fri|Dinner|   2|
|     12.46| 1.5|  Male|  null| Fri|Dinner|   2|
+----------+----+------+------+----+------+----+
only showing top 100 rows

Create a column that contains the tip percentage
Calculate the average tip percentage for each combination of sex and smoker.

Use the seattle weather dataset referenced in the lesson to answer the questions below.

Convert the temperatures to farenheight.
Which month has the most rain, on average?
Which year was the windiest?
What is the most frequent type of weather in January?
What is the average high and low tempurature on sunny days in July in 2013 and 2014?
What percentage of days were rainy in q3 of 2015?
For each year, find what percentage of days it rained (had non-zero precipitation).